<html>
<body>
   <div class="board">
      <table>
        <tbody>
          <%  8.downto(1) do |y_coord| %>
            <tr id = "<%= y_coord %>">
              <% (1..8).each do |x_coord| %>
                <td id = "<%= y_coord%> <%= x_coord %>" data-x="<%= x_coord %>" data-y="<%= y_coord %>">
             
                <% end %>
                </td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
</body>

