<html>
  <body>
    <div class="board">
      <table>
        <tbody>
          <% 8.downto(1) do |y_coord| %>
            <tr id = "<%= y_coord %>">
              <% (1..8).each do |x_coord| %>
                <td class="droppable" id = "<%= y_coord %>, <%= x_coord %>" data-x="<%= x_coord %>" data-y="<%= y_coord %>">
                  <% piece = @pieces.where("(starting_position_x = ? AND starting_position_y = ?)", x_coord, y_coord).first %>
                    <% if piece.present? %>
                      <div class="piece" data-piece-id="<%= piece.id %>" data-x_coord="<%= x_coord %>" data-y_coord="<%= y_coord %>">
                        <%= piece.display.html_safe %>
                      </div>
                    <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <script>
  
      $(document).ready(function() {
          $('.piece').draggable({
              containment: "table",
              revert: 'invalid'
          });
  
          $('.droppable').droppable({
              drop: function(event, ui) {
                  var piece = ui.draggable;
                  var destination_square = $(this);
                  console.log($(this));
                  var update_piece = {
                      id: piece.data('piece-id'),
                      x_position: destination_square.attr('data-x'),
                      y_position: destination_square.attr('data-y'),
                  }
  
                  $.ajax({
                      type: 'PATCH',
                      url: '/pieces/' + update_piece.id,
                      beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
                      dataType: 'json',
                      data: update_piece, // { id: update_piece.id, x_position: update_piece.x_coord, y_position: update_piece.y_coord },
                      success: function(data) {
                          if (data.success) {
                              //will need to reset piece position (relative, left, top)
                              //query to move the div the piece is in
                              piece.detach().appendTo(destination_square);
                              console.log(data);
                          } else {
                              //reset style style position relative, left, top
                              console.log(data);
                          }
                      }
                  });
              }
          });
      });      
    </script>      

  </body>
</html>