<!DOCTYPE html>
<html>
  <head>
    <title>ChessMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
  </head>

  <body>

  <div class="header">
    <a href="/" class="logo" id="alsoLogo">&#9820; ChessMate</a>
    <ul class="nav-links">
      <% if user_signed_in? %>
        <li><p class="nav-link">You are signed in!</p></li>
        <br />
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
        <li><%= link_to 'Register', new_user_registration_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>

  <footer>
    <br />
    <div class="footer">Proudly developed by the UA Code Campers</div>
  </footer>
</html>